.header-container {
  font-family: 'Work Sans';
  font-size: 18px;
}

.header-left {
  color: rgb(153, 153, 153);
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
}

@media (max-width: 800px) {
  .header-left {
    display: none;
  }

  .header-right {
    text-align: center !important; // Should use better specificity instead
    margin-top: 10px;
  }
}

.header-center {
  text-align: center;
}

.header-right {
  color: rgb(153, 153, 153);
  text-align: right;
  text-transform: uppercase;
}

.navigation-menu .dropdown-item {
  font-size: 11px;
}

.navigation-menu .menu-link {
  color: rgb(153, 153, 153);
}

.navigation-menu .menu-link:hover,
.navigation-menu .menu-link:focus {
  text-decoration: none;
}
