.page-header {
  font-family: 'Abel', sans-serif;
  font-size: 70px;
  margin-top: 60px;
  text-align: center;
}

.subtitle {
  color: rgb(216, 130, 19);
  font-family: 'Crimson Text';
  font-size: 32px;
  margin-top: 30px;
  text-align: center;
}

.cta-container {
  text-align: center;
}

.mailchip-signup {
  clear: left;
}
