.tickets--mobile-warning {
  display: none;
  color: red;
}

@media screen and (max-width: 600px) {
  .tickets--mobile-warning {
    display: block;
  }
  .tickets--info {
    display: none
  }
}

.tickets--info {
  text-align: center;
  font-size: 1.2em;
  font-style: italic;
}

.tickets--tbl {
    border-radius: 4px;
    border: 1px solid #dfdfe0;
    width: 100%;

    tr {
      border-bottom: 1px solid #dfdfe0;
    }

    td {
      padding: 10px 20px;
    }

    td:first-child {
      background-color: #efefef;
      text-align: center;

        .tickets--days {
          font-size: 1.5em;
          font-weight: bolder;
          line-height: 1.0;
        }

        .tickets--dates {
            font-size: 1.2em;
            font-weight: bold;
        }
    }

    td:nth-child(2) {
        width: 60%;
        padding-left: 20px;
        line-height: 3;

        .pass--type {
            font-size: 2.5em;
            font-weight: bolder
        }

        .pass--description {
            font-size: 1.2em;
            font-weight: bold;
            line-height: normal;
            margin-bottom: 10px;
        }

        .pass--timings {
            font-size: 0.9em;
            line-height: normal;
            color: #555;
        }
    }

}
