<header>
  <div class="row header-container">
    <div class="col-md-1"><a class="header-left" href="./index.html">home</a></div>
    <div class="col-md-2 col-md-offset-4 header-center">
      <a href="./index.html">
        <img alt="Make it short logo" src="./assets/images/logoHeader.png"/>
      </a>
    </div>
    <div class="col-md-1 col-md-offset-4 header-right">
      <div class="dropdown navigation-menu">
        <a class="dropdown-toggle menu-link" href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/">Home</a>
          <a class="dropdown-item" href="/about.html">About</a>
          <a class="dropdown-item" href="/filmmakers.html">Information for Filmmakers</a>
          <a class="dropdown-item" href="/programme_and_tickets.html">Programme and Tickets</a>
          <a class="dropdown-item" href="/collaborations.html">Collaborations</a>
          <a class="dropdown-item" href="/competition.html">24h Competition</a>
          <a class="dropdown-item" href="/contact.html">Contact</a>
        </div>
      </div>
    </div>
  </div>
</header>
