{{#extend "default"}}
{{#content "main"}}

<div class="row">
  <div class="col-md-4">&nbsp;</div>
  <div class="col-md-4">
    <div class="subtitle">
      <p>About</p>
    </div>
    <div class="content">
      <p>Make It Short is a two-day short film festival covering a range of topics from all over the world. Through short films we can experience a huge range of subjects and styles, and this new independent festival includes social commentary, humour and animation. Although we are presenting work on certain themes (see below) each short film also stands alone.</p>
      <p>This is our first Make It Short. As well as adult submissions it will include shorts created by local schoolchildren and students, and by Brazilian children as part of our cultural exchange programme.</p>
    </div>
    <div class="subtitle">
      <p>Where and Why</p>
    </div>
    <div class="content">
      <p>Why be a part of Make It Short? It&#39;s an independent festival offering a chance to shape cultural and social debate and make contacts in the film industry. Make It Short will take place in Lewes in the South East of England, a historic and unusual town with a small population but huge political and creative influence. Well known for its history of political dissent, from the Battle of Lewes to Thomas Paine, Lewes is still a good place to meet people working in politics, literature and social change, as well as film makers of all kinds.</p>
    </div>
    <div class="col-md-4">&nbsp;</div>
  </div>
</div>

{{/content}}
{{/extend}}
