{{#extend "default"}}
{{#content "main"}}

<div class="row">
  <div class="col-md-4">&nbsp;</div>
  <div class="col-md-4">
    <div class="subtitle">
      <p>About</p>
    </div>
    <div class="content">
      <p>Make It Short is a two-day short film festival covering a range of topics from all over the world. Through short films we can experience a huge range of subjects and styles, and our festival includes social commentary, humour and animation. Although we are presenting work on certain themes (see below) each short film also stands alone.</p>
      <p>This is our first Make It Short. As well as adult submissions it will include shorts created by local schoolchildren and students, and by Brazilian children as part of our cultural exchange programme.</p>
    </div>
    <div class="col-md-4">&nbsp;</div>
  </div>
</div>

{{/content}}
{{/extend}}
