{{#extend "default"}}
{{#content "main"}}

<div class="row">
  <div class="col-md-4 sidebar sidebar--left">&nbsp;</div>
  <div class="col-md-4 main-content">
    <div class="subtitle">
      <p>Collaborations</p>
    </div>
    <div class="content">
      <h6><a href="https://brightonfilmschool.co.uk">Brighton Film School</a></h6>
      <p>The Brighton Film School is helping us put together the <a href="/competition.html">24 hour competition</a>. They have also generously contributed the £100 prize.</p>
      <h6><a href="http://www.iphone-movie-making.co.uk/index.php/about/">Bob Walters</a></h6>
      <p>Bob was the facilitator for the short film workshop at the Wallands School. He also put us in touch with the Brazilian School, <a href="http://www.acaia.org.br/">Instituto Acaia</a>.</p>
      <h6><a href="http://wallandsschool.org">The Wallands School, Lewes</a></h6>
      <p>The school took part in a one day filming and editing workshop, where 65 children created short films about ‘A day in my life in school’, depicting their experiences spending a day at The Wallands. Martin Blount, their Head of IT, helped us by having the iPads ready for the day. The films have a creative documentary style.</p>
      <h6><a href="http://www.acaia.org.br">Instituto Acaia, Brazil</a></h6>
      <p>The Instituto Acaia joined in with us creating short films with their students with the same topic as our local school: ‘A day in my life in school’. A wonderful example of cultural exchange.</p>
      <h6><a href="http://www.zyloperformance.co.uk">Zylo</a></h6>
      <p>Ryan from Zylo works with children who create their own short films. He is submitting fictional short films performed by local children.</p>
      <h6><a href="https://pressplay.live">Press Play Films</a></h6>
      <p>Lara teachers children how to create stop motion animation; she is submitting short animations created by local children.</p>
      <h6><a href="http://www.sussexdowns.ac.uk">Sussex Downs College Media Studies Department</a></h6>
      <p>Dan and Anthony, who teach media studies at the local college, have helped us with fantastic volunteers for the children's workshop.</p>
      <h6><a href="https://www.brighton.ac.uk/index.aspx">University of Brighton Media Studies Department</a></h6>
      <p>Various lecturers (especially <a href="http://blogs.brighton.ac.uk/robynmillen/author/rjm46/">Robyn Millen</a>) from the media studies department have helped us with great volunteers for the the workshop with the children.</p>
      <h6>Other</h6>
      <p>We also had individuals who offered to help during the one day workshop, and with other duties for the festival. We are hugely grateful to them.</p>
    </div>
  </div>
  <div class="col-md-4 sidebar sidebar--right">&nbsp;</div>
</div>

{{/content}}
{{/extend}}
