{{#extend "default"}}
{{#content "main"}}

<div class="row">
  <div class="col-md-4">&nbsp;</div>
  <div class="col-md-4">
    <div class="subtitle">
      <p>24 hour Competition</p>
    </div>
    <div class="content">
      <p>As well as films from world-class talent, we will be putting on a competition for filmmakers in Lewes. This is a great opportunity to hone your creativity and show the world what you can do. Further details below:</p>
      <ul>
        <li><a href="https://brightonfilmschool.co.uk/">Brighton Film School</a> will offer a £100 prize to the winning team of this challenge</li>
        <li>Registration of two person crews and payment of £10 entrance fee (£5 for students) can happen on the day, but please <a href="mailto:hello@makeitshort.co.uk">email</a> to register interest in advance if possible</li>
        <li>Production meeting at 11.30am for a noon start on Saturday the 7th of October in Lewes. The venue is the Educational Room in <a href="https://lewesdepot.org/">The Depot</a>. The production meeting will include briefing of the project and we will issue an information pack.</li>
        <li>At the end of the competition, films should be uploaded via <a href="https://wetransfer.com/">We Transfer</a> to the festival email link by noon on Sunday the 8th of October</li>
        <li>The selected films will be screened on Sunday the 15th October with two free tickets for each selected crew</li>
        <li>Crews are suggested to use the <a href="https://itunes.apple.com/gb/app/straight-8/id513897631?mt=8">Straight 8 app</a>, which can be used as well as any camera of choice and edited using whatever editing software available to the filmmaker.</li>
        <li>The film may be either a drama, a documentary or experimental</li>
      </ul>
      <h5>Do's and Don'ts</h5>
      <ul>
        <li>No use of profanities (swearing), use of imitation weapons, copyright music, photos, or film/TV clips</li>
        <li>Running length not to exceed 3 minutes/180 seconds including titles and credits</li>
        <li>Crews are responsible for their own safety and that of the public</li>
        <li>The film must be delivered in H264 format</li>
        <li>Sound may be recorded in camera or by using an external mic; alternatively it can be added in post-production.</li>
      </ul>
    </div>
  </div>
  <div class="col-md-4">&nbsp;</div>
</div>

{{/content}}
{{/extend}}
