{{#extend "default"}}
{{#content "main"}}

<div class="row">
  <div class="col-md-4 sidebar sidebar--left">&nbsp;</div>
  <div class="col-md-4 main-content">
    <div class="subtitle">
      <p>Information for Filmmakers</p>
    </div>
    <div class="content">
      <p>Choose one of the categories below to inspire your submission:</p>
      <h5><a href="https://www.withoutabox.com/03film/03t_fin/03t_fin_fest_01dead.php?festview=1&category_id=1675380">Alternative facts</a></h5>
      <p>This infamous phrase has become part of the zeitgeist in recent months. What do you consider to be alternative facts? Can you reclaim this phrase and make it your own via a short film?</p>
      <h5><a href="https://www.withoutabox.com/03film/03t_fin/03t_fin_fest_01dead.php?festview=1&category_id=1675390">Recycled stories</a></h5>
      <p>What does “Recycled stories” suggest to you? Examples could include a collage of old movies, a new take on a fairy tale, or a story/documentary about recycling. Set your imagination free.
      </p>
      <h5><a href="https://www.withoutabox.com/03film/03t_fin/03t_fin_fest_01dead.php?festview=1&category_id=1675400">Positive future</a></h5>
      <p>Bad news sells. Let’s fix the bias. We want to hear about companies or initiatives working to bring a better future for us all. Or do you have a great vision for the future? Share your optimistic science fiction here.</p>
      <h5><a href="https://www.withoutabox.com/03film/03t_fin/03t_fin_fest_01dead.php?festview=1&category_id=1675410">Social realism</a></h5>
      <p>Raw, unpolished, a sincere portrait of what surrounds us. If you have captured it on film, then send it over.</p>
      <h5><a href="https://www.withoutabox.com/03film/03t_fin/03t_fin_fest_01dead.php?festview=1&category_id=1675420">Modern feminism in the West</a></h5>
      <p>How do you see feminism in the 21st century? Do you think feminist issues are a thing of the past? Or do we need to keep up the fight?</p>
      <h5><a href="https://www.withoutabox.com/03film/03t_fin/03t_fin_fest_01dead.php?festview=1&category_id=1675430">Comedy</a></h5>
      <p>If the driving force of your short film is humour in any form, then this is the category for you. </p>
      <h5><a href="https://www.withoutabox.com/03film/03t_fin/03t_fin_fest_01dead.php?festview=1&category_id=1675440">Animation for children</a></h5>
      <p>If your short animation is suitable for children (exclusively or otherwise), then this is your category. </p>
      <h5><a href="https://www.withoutabox.com/03film/03t_fin/03t_fin_fest_01dead.php?festview=1&category_id=1675450">Animation for adults</a></h5>
      <p>We are looking for all sorts of stories told in animation form. These can be documentaries, fictional stories, fairy tales for adults, etc.</p>
    </div>
    <div class="submissions-container">
      <a href="http://www.withoutabox.com/login/16059?utm_source=Submission%20Button%20CTA&utm_medium=WAB%20Fest%20Site&utm_content=Button"><img src="http://www.withoutabox.com/images/WABbutton.png" style="border:0;height:64px;width:264px;" alt="Submit on Withoutabox"></a>
    </div>
    <div class="legal-footer">Withoutabox logos are trademarks of Withoutabox, a DBA of IMDb.com Inc. or its affiliates.</div>
  </div>
  <div class="col-md-4 sidebar sidebar--right">&nbsp;</div>
</div>

{{/content}}
{{/extend}}
