{{#extend "default"}}
{{#content "main"}}

<div class="row">
  <div class="col-md-4">&nbsp;</div>
  <div class="col-md-4">
    <div class="page-header">
      <h1>Lewes short movie festival</h1>
    </div>
    <div class="subtitle">
      <p>14th and 15th of October 2017<br>in the All Saints Centre, Lewes</p>
    </div>
    <hr>
    <div class="content">
      <h5>On Saturday the 14th of October:</h5>
      <p>Screening of assorted short movies on the following topics:</p>
      <ul>
        <li>Alternative facts</li>
        <li>Recycled stories</li>
        <li>Positive future</li>
        <li>Social realism</li>
        <li>Modern feminism in the West</li>
        <li>Comedy</li>
      </ul>
      <h5>On Sunday the 15th of October:</h5>
      <p>Short films &amp; animations from local children and their counterparts in Brazil via our exchange program</p>
      <p>Animation for children</p>
      <p>Animation for adults</p>
      <p>Short movies from UK film schools</p>
    </div>
    <hr>
    <div class="subtitle">
      <p>About</p>
    </div>
    <div class="content">
      <p>Make It Short is a two-day short film festival covering a range of topics from all over the world. Through short films we can experience a huge range of subjects and styles, and our festival includes social commentary, humour and animation. Although we are presenting work on certain themes (see below) each short film also stands alone.</p>
      <p>This is our first Make It Short. As well as adult submissions it will include shorts created by local schoolchildren and students, and by Brazilian children as part of our cultural exchange programme.</p>
    </div>
    <div class="subtitle">
      <p>Where</p>
    </div>
    <div class="content">
      <p>Make It Short will take place in Lewes in the South East of England.</p>
      <p>Lewes is well known for its history of political dissent, from the Battle of Lewes to Thomas Paine, and it is home to many journalists, writers, artists and filmmakers.</p>
    </div>
    <div class="content">
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup" class="mailchimp-signup">
        <form
          action="//makeitshort.us15.list-manage.com/subscribe/post?u=b109d2c75b2954541ee95f238&amp;id=1f805cc644"
          method="post"
          id="mc-embedded-subscribe-form"
          name="mc-embedded-subscribe-form"
          class="validate"
          target="_blank"
          novalidate>
          <div id="mc_embed_signup_scroll">
            <h2>Subscribe to our mailing list</h2>
            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
            <div class="mc-field-group">
              <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
              </label>
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
            <div class="mc-field-group">
              <label for="mce-FNAME">First Name </label>
              <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
            </div>
            <div class="mc-field-group">
              <label for="mce-LNAME">Last Name </label>
              <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
            </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b109d2c75b2954541ee95f238_1f805cc644" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
        </form>
      </div>
      <!--End mc_embed_signup-->
      <p>Or email <a href="mailto:hello@makeitshort.co.uk?Subject=Please%20send%20me%20updates%20on%20the%20Make%20it%20Short%20festival" target="_top">hello@makeitshort.co.uk</a>.</p>
      <hr>
      <div class="subtitle">
        <p>Information for Filmmakers</p>
      </div>
      <div class="content">
        <p>Choose one of the categories below to inspire your submission:</p>
        <h5><a href="https://www.withoutabox.com/03film/03t_fin/03t_fin_fest_01dead.php?festview=1&category_id=1675380">Alternative facts</a></h5>
        <p>This infamous phrase has become part of the zeitgeist in recent months. What do you consider to be alternative facts? Can you reclaim this phrase and make it your own via a short film?</p>
        <h5><a href="https://www.withoutabox.com/03film/03t_fin/03t_fin_fest_01dead.php?festview=1&category_id=1675390">Recycled stories</a></h5>
        <p>What does “Recycled stories” suggest to you? Examples could include a collage of old movies, a new take on a fairy tale, or a story/documentary about recycling. Set your imagination free.
</p>
        <h5><a href="https://www.withoutabox.com/03film/03t_fin/03t_fin_fest_01dead.php?festview=1&category_id=1675400">Positive future</a></h5>
        <p>Bad news sells. Let’s fix the bias. We want to hear about companies or initiatives working to bring a better future for us all. Or do you have a great vision for the future? Share your optimistic science fiction here.</p>
        <h5><a href="https://www.withoutabox.com/03film/03t_fin/03t_fin_fest_01dead.php?festview=1&category_id=1675410">Social realism</a></h5>
        <p>Raw, unpolished, a sincere portrait of what surrounds us. If you have captured it on film, then send it over.</p>
        <h5><a href="https://www.withoutabox.com/03film/03t_fin/03t_fin_fest_01dead.php?festview=1&category_id=1675420">Modern feminism in the West</a></h5>
        <p>How do you see feminism in the 21st century? Do you think feminist issues are a thing of the past? Or do we need to keep up the fight?</p>
        <h5><a href="https://www.withoutabox.com/03film/03t_fin/03t_fin_fest_01dead.php?festview=1&category_id=1675430">Comedy</a></h5>
        <p>If the driving force of your short film is humour in any form, then this is the category for you. </p>
        <h5><a href="https://www.withoutabox.com/03film/03t_fin/03t_fin_fest_01dead.php?festview=1&category_id=1675440">Animation for children</a></h5>
        <p>If your short animation is suitable for children (exclusively or otherwise), then this is your category. </p>
        <h5><a href="https://www.withoutabox.com/03film/03t_fin/03t_fin_fest_01dead.php?festview=1&category_id=1675450">Animation for adults</a></h5>
        <p>We are looking for all sorts of stories told in animation form. These can be documentaries, fictional stories, fairy tales for adults, etc.</p>
      </div>
      <div class="submissions-container">
        <a href="http://www.withoutabox.com/login/16059?utm_source=Submission%20Button%20CTA&utm_medium=WAB%20Fest%20Site&utm_content=Button"><img src="http://www.withoutabox.com/images/WABbutton.png" style="border:0;height:64px;width:264px;" alt="Submit on Withoutabox"></a>
      </div>
      <hr>
    </div>
    <div class="col-md-4">&nbsp;</div>
  </div>
</div>

{{/content}}
{{/extend}}
