{{#extend "default"}}
{{#content "main"}}

<div class="row">
  <div class="col-md-4">&nbsp;</div>
  <div class="col-md-4">
    <div class="page-header">
      <h1>Lewes short movie festival</h1>
    </div>
    <div class="subtitle">
      <p>14th and 15th of October 2017<br>in the All Saints Centre, Lewes</p>
    </div>
    <hr>
    <div class="content">
      <h5>On Saturday the 14th of October:</h5>
      <p>Screening of assorted short movies on the following topics:</p>
      <ul>
        <li>Alternative facts</li>
        <li>Recycled stories</li>
        <li>Positive future</li>
        <li>Social realism</li>
        <li>Feminism in the 21st century in the western world</li>
        <li>Comedy</li>
      </ul>
      <h5>On Sunday the 15th of October:</h5>
      <p>Short films &amp; animations from local children and their counterparts in Brazil via our exchange program</p>
      <p>Animation for children</p>
      <p>Animation for adults</p>
      <p>Short movies from UK film schools</p>
    </div>
    <hr>
    <div class="subtitle">
      Further details coming soon.
    </div>
    <div class="content">
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup" class="mailchimp-signup">
        <form
          action="//makeitshort.us15.list-manage.com/subscribe/post?u=b109d2c75b2954541ee95f238&amp;id=1f805cc644"
          method="post"
          id="mc-embedded-subscribe-form"
          name="mc-embedded-subscribe-form"
          class="validate"
          target="_blank"
          novalidate>
          <div id="mc_embed_signup_scroll">
            <h2>Subscribe to our mailing list</h2>
            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
            <div class="mc-field-group">
              <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
              </label>
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
            <div class="mc-field-group">
              <label for="mce-FNAME">First Name </label>
              <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
            </div>
            <div class="mc-field-group">
              <label for="mce-LNAME">Last Name </label>
              <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
            </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b109d2c75b2954541ee95f238_1f805cc644" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
        </form>
      </div>
      <!--End mc_embed_signup-->
      <p>Or email <a href="mailto:hello@makeitshort.co.uk?Subject=Please%20send%20me%20updates%20on%20the%20Make%20it%20Short%20festival" target="_top">hello@makeitshort.co.uk</a>.</p>
    </div>
    <div class="col-md-4">&nbsp;</div>
  </div>
</div>

{{/content}}
{{/extend}}
