{{#extend "default"}}
  {{#content "main"}}

  <div class="row">
    <div class="col-md-4">&nbsp;</div>
    <div class="col-md-4">
      <div class="page-header">
        <h1>Lewes short movie festival</h1>
      </div>
      <div class="subtitle">
        <p>14th and 15th of October 2017<br>in the All Saints Centre, Lewes</p>
      </div>
      <hr>
      <div class="content">
        <h5>On Saturday the 14th of October:</h5>
        <p>Screening of assorted short movies on the following topics:</p>
        <ul>
          <li>Alternative facts</li>
          <li>Recycled stories</li>
          <li>Positive future</li>
          <li>Social realism</li>
          <li>Feminism in the 21st century in the western world</li>
          <li>Comedy</li>
        </ul>
        <h5>On Sunday the 15th of October:</h5>
        <p>Short films &amp; animations from local children and their counterparts in Brazil via our exchange program</p>
        <p>Animation for children</p>
        <p>Animation for adults</p>
        <p>Short movies from UK film schools</p>
      </div>
      <hr>
      <div class="subtitle">
        Further details coming soon.
      </div>
      <div class="subtitle">
        To subscribe for future updates, email <a href="mailto:hello@makeitshort.co.uk?Subject=Please%20send%20me%20updates%20on%20the%20Make%20it%20Short%20festival" target="_top">hello@makeitshort.co.uk</a>.
      </div>
      <div class="col-md-4">&nbsp;</div>
    </div>
  </div>

  {{/content}}
{{/extend}}
