{{#extend "default"}}
{{#content "main"}}

<div class="row">
  <div class="col-md-4 sidebar sidebar--left">&nbsp;</div>
  <div class="col-md-4 main-content">
    <div class="subtitle">
      <p>Programme</p>
    </div>
    <div class="content programme--content">
      <h4>SATURDAY</h4>
      <h5>1. FIRST SESSION 90' - <a href="/tickets.html">Buy Tickets</a></h5>
      <h6>1-1 WRITTEN / UNWRITTEN</h6>
      <p>Outside a maternity ward, a Roma family is announced their underage daughter has just had a baby girl. Pardică (50) doesn’t seem to celebrate the moment; he is very displeased with this early pregnancy, for which he blames his wife. However, things become even tenser when a hospital employee asks them to sign some papers and discovers issues related to their IDs and their status as parents of the underage new mother. The imminent danger of state authorities separating them from their daughter determines Pardică to take action.</p>
      <h6>1-2 CAUTIONARY TALES</h6>
      <p>A bizarre incident as a young boy left Aaron with an unusual facial disfigurement. Isolated and vulnerable, Aaron seeks comfort in the friendship and understanding of an unexpected group of outcasts.</p>
      <h6>1-3 KARMAACCOUNT</h6>
      <p>A man is heading ruthlessly towards his goal and loses connection to what he once was: A child!</p>
      <h6>1-4 BRITISH BY THE GRACE OF GOD</h6>
      <p>Set in Scotland during the summer of the ‘Brexit’ referendum, British by the Grace of God follows Irene as she struggles to find her place in the world as a mother and wife.</p>
      <h6>1-5 MY BAKERY BLOSSOM</h6>
      <p>An extremely shy young man is in love with the girl at his local bakery, but he doesn't  have the courage to tell her how he feels. On the morning of her last day at work, he realizes it's now or never. A tragicomedy based on the German tweets of @Naum_Burger.</p>
      <h6>1-6 THE ME I ONCE WAS</h6>
      <p>A poetic Spoken Word piece performed by a survivor of her own childhood.</p>
      <h6>1-7 BORN OF STONE</h6>
      <p>Completed just a few weeks before Sciola’s recent passing, Born of Stone is an immersion inside the sights and sound of remarkable artists, and inside his belief that stones are not just the material that gives shape to the universe, but that they are alive, plastic, a fundamental way to communicate with nature.</p>
      <h6>1-8 ALRIGHT</h6>
      <p>Jenna, a 9 year old girl, experiences bullying from a male classmate. Seeking comfort in her teacher, she is advised that the boy hit her because he likes her. From that point onwards Jenna embarks on a journey of self-discovery to decide for herself.</p>
      <hr/>
      <h5>2. SECOND SESSION 60' - <a href="/tickets.html">Buy Tickets</a></h5>
      <h6>2-1 SERVAL AND CHAUMIER: MASTERS OF SHADOWS</h6>
      <p>1896. In a small French village, Jules Chaumier, professional magician, runs into Marcel Serval, his former disciple who left 10 years ago with his wife Jacqueline. They get into a fight, which should lead them to know who actually is the true "Master of Shadows"...</p>
      <h6>2-2 MOUSE</h6>
      <p>Vanessa and Danny are down on their luck, so when an unlikely can of Unica brand beans falls to their kitchen floor, they aim to squeeze out every penny.</p>
      <h6>2-3 A WHITE WALL</h6>
      <p>Meet photographer, Kazem Hakimi, a pillar of East Oxford’s multi-cultural community, who takes ‘street portraits’ of his beloved customers and friends at the back of his Fish and Chip shop.
"A White Wall" follows Kazem’s journey to the launch of a major exhibition of his photography, exploring the vital role of the artist and the media in bringing people together.</p>
      <h6>2-4 NICOLE'S CAGE</h6>
      <p>Jakob and Nicole, a young, ambitious and firmly in the event culture anchored couple. When one of the popular gondolas becomes free, they do not hesitate to move into their first common flat. Unfortunately none of them both has taken the time to get to know his partner before.</p>
      <h6>2-5 AUSTERITY BRITAIN (GRENFELL)</h6>
      <p>Austerity Britain: Grenfell explores the ways in which the 'culture of cuts' played a part in one of the most horrific accidents in recent history, the Grenfell fire.</p>
      <hr/>
      <h5>3. THIRD SESSION 60' - <a href="/tickets.html">Buy Tickets</a></h5>
      <h6>3-1 NOT HERE, NOT THERE</h6>
      <p>Matti is 15. He really wants to make out with his girlfriend Paula or to go to the lake with his mates. But again he has to stay at home. The reason why should be kept secret... A short film about growing older and about love.</p>
      <h6>3-2 SPEAKING OF LOVE</h6>
      <p>Arne loves Birte, Birte loves Fritz, Fritz loves Elisabeth, Elisabeth loves Arne and everyone loves music. "Speaking Of Love“ deals with the longing for love and its failure.</p>
      <h6>3-3 FIFO</h6>
      <p>First in first out (FIFO) is a shelving technique used in supermarkets. Stephan must place the freshest products behind the oldest ones. Products nearing their sell-by date must be destroyed. When going to the bins in the basement, Stephan will have to face those who could still benefit from them, but who are excluded by the system. He will also have to confront who he was before getting a job.</p>
      <h6>3-4 THE LAST EULOGY</h6>
      <p>"The Last Eulogy" is a black comedy centered on the theme of remembrance and memory that everyone leaves behind after death. A story that wants to think about how remembrance and memory can be manipulated in the perception of whoever says forever goodbye to a relative. This is what Giorgio Priscoli, the head of a funeral agency launches, is launching a new service for the relatives of the dead: with the help of his collaborators, Giorgio transforms ordinary lives of ordinary men and women into brilliant existences or even adventurous. And manipulation of memory becomes collective joy and approval. Nothing is definitive, not even death. In the final act of the funeral, during the ending of life, the last prayer is recited, and those who die have the chance to reborn in many ways, becoming a spy, a philanthropist, or a hero. The last word is never said.</p>
      <hr/>
      <h5>4. FOURTH SESSION 60' - <a href="/tickets.html">Buy Tickets</a></h5>
      <h6>4-1 EINSTEIN-ROSEN</h6>
      <p>Summer of 1982. Teo claims he has found a wormhole. His brother Óscar does not believe him - at least not for now.</p>
      <h6>4-2 EUNA</h6>
      <p>Meet Euna, a young woman, working in a factory, seeing friends, trying to come to grips with her life. But why is it that she seems to struggle so much and why do some folks behave so oddly, when she is around?</p>
      <h6>4-3 JUNGLE</h6>
      <p>For the past several months, the infamous refugee camp in Calais has been home for a young Afghani boy. His daily experiences and his feelings about life in the Jungle are reflected in his letters to his parents, which paint a picture of the inescapable situation of hopelessness. The young man keeps on repeating his mantra : « Soon I will be in England.»</p>
      <h6>4-4 FAMILY FOR SALE</h6>
      <p>A small hole in a condom back in 1980, and Xav is conceived… Ironic when you know that Oscar owns a sex shop. Oscar is the father. Typhaine, the mother, is a disinherited bourgeois. Since the arrival of Petra, Typhaine can’t stop throwing herself against the wall to express her discomfort. Petra is Oscar’s mistress. Xav has tried getting used to his family, but eighteen years later, he’s had enough…</p>
      <hr/>
      <hr/>
      <h4>SUNDAY - CHILDREN SESSIONS</h4>
      <h5>1. WALLANDS AND BRAZIL - <a href="/tickets.html">Buy Tickets</a></h5>
      <p>Short films created in a one day workshop as part of the festival in our local school The Wallands and in a Brazilian school Instituto Acaia.</p>
      <h6>1-1 UM DIA NA VIDA DE RENAN</h6>
      <h6>1-2 UM DIA DE LETÍCIA</h6>
      <h6>1-3 A DAY IN THE LIFE AT SCHOOL</h6>
      <h6>1-4 PIPPA'S GROUP</h6>
      <h6>INTERVIEWS AND AWARDS</h6>
      <hr/>
      <h5>2. ZYLO FILMS - <a href="/tickets.html">Buy Tickets</a></h5>
      <p>Shorts created by local children with the company Zylo Productions.</p>
      <h6>2-1 ANGELS GONE AWOL</h6>
      <h6>2-2 SPACE BATTLES</h6>
      <h6>2-3 SPARKLE TOWN</h6>
      <h6>2-4 THE LAST BREWSADE</h6>
      <h6>2-5 THE POWER OF EVIL</h6>
      <h6>INTERVIEWS</h6>
      <hr/>
      <h5>3. LOCAL ANIMATIONS - <a href="/tickets.html">Buy Tickets</a></h5>
      <p>Short animations created by local children and the company Press Play Films</p>
      <h6>3-1 BEING BORN</h6>
      <h6>3-2 BISCUITS</h6>
      <h6>3-3 A STORY OF DOMESTIC VIOLENCE</h6>
      <h6>3-4 DEAR ANNIE</h6>
      <h6>3-5 DAY IN LIFE OF A BATTERY</h6>
      <h6>3-6 DONUT MAN</h6>
      <h6>3-7 ELDERFLOWER</h6>
      <h6>3-8 ELMO</h6>
      <h6>3-9 MARTA AND WILLOW CAKE</h6>
      <h6>3-10 LIFE OF A PIECE OF POPCORN</h6>
      <h6>3-11 PRINCES</h6>
      <h6>3-12 TRUMP VS HILARY</h6>
      <h6>INTERVIEWS</h6>
      <hr/>
      <h5>4. CHILDREN ANIMATIONS - <a href="/tickets.html">Buy Tickets</a></h5>
      <h6>4-1 WANDERER</h6>
      <p>Wanderer is a story of a polar bear who lost his habitat, wanders, and starts to dream about his imaginary habitat. This film contains my personal experiences and emotions as a wanderer whose house is not a home.</p>
      <h6>4-2 OUTSIDE</h6>
      <p>When a lonely little boy finds a strange creature in the woods, he must keep it a secret from his mom or risk losing his only friend.</p>
      <h6>4-3 A GIRL NEEDS A BIKE</h6>
      <p>In rural villages in Ghana, Clara faces the challenges of teaching, as her students discover the happiness of having wheels. This playful animated documentary shows how bicycling brings joy to a new teacher and independence to her students.</p>
      <h6>4-4 OUR WONDERFUL NATURE - THE COMMON CHAMELEON</h6>
      <p>The feeding habits of the common chameleon as never seen before.</p>
      <h6>4-5 AWESOME BEETLE’S COLORS</h6>
      <p>Fun and educative plasticine animation</p>
      <h6>4-6 SUNNY AND GERD SPRING CLEANING</h6>
      <p>A whistle blows, signalling break time. Gerd sits in his favourite spot to enjoy his break and catch up on some reading. Unbeknownst to Gerd, his best friend Sunny is about to deny him any respite from the day’s grind. Things go from zero to “wha’-tha’?!” when Sunny finds himself in a tight spot and Gerd has to rescue his little buddy. Some quick thinking and a little hacking just might save the day.</p>
      <hr/>
      <h4>SUNDAY - ADULT SESSIONS</h4>
      <h5>5. ADULT ANIMATIONS - <a href="/tickets.html">Buy Tickets</a></h5>
      <h6>5-1 CITIPATI</h6>
      <p>After being subjected to a cataclysmic meteorite impact, a small dinosaur attempts to battle the horrific aftermath both physically &amp; psychologically. A tale about life, death &amp; rebirth, told from a unique, prehistoric perspective.</p>
      <h6>5-2 CHILD</h6>
      <p>A child has to leave its cozy hut to collect wood for the fire that went out. Growing into a teenager, he encounters a singular tree that he wants to turn into fire wood. He tears the tree out and thus becomes a man who is drawn to the woods that emerge around him. Overwhelmed by the mass of trees, he starts to tear out every single one of them. Then he gathers the wood, getting ready to travel back. Though the last tree breaks the back of this now middle-aged man, his desire, to bring everything back home, persists. Having become an old man, he realizes that he is not strong enough to return with any trunk at all. Unburdened from his responsibilities, he stumbles across the tree he already knows from his youth.</p>
      <h6>5-3 ALL THE WORLD IS A STAGE</h6>
      <p>An animated adaptation of the famous Shakespeare poem "All The World's A Stage" narrated by the renowned Shakespeare actor and director Samuel West (Royal Shakespeare Company). Directed by Hannes Rall.</p>
      <h6>5-4 PATATA DAY</h6>
      <p>This cinematic parable tells the story of five people in a diner who spin a yarn about potato dishes. In the next scene, funny animated potatoes appear. The audience cheerfully follows the film but understands that a highly topical issue is served with the potatoes on the plate.</p>
      <h6>5-5 VACANCY</h6>
      <p>The non-narrative animated film is a poetic debate with the issue of "HOME" and the experience of the outland as a new home. A collage of fragments of Hilde Domin s poems and a concentration and overlay of sketchy drawings and sound elements - always incomplete, always close to disappearance. It describes the search for an inner place of calm - a timeless space of deceleration.</p>
      <p>"One must be able to part and still be like a tree: the roots remaining in the ground, landscape passing and we are fixed." (Hilde Domin)</p>
      <h6>5-6 WHERE HAVE THE FLOWERS GONE</h6>
      <p>A piggy pursuing its dream in the big factory but in reality all efforts seemed powerless, and it even considered suicide. The concept is inspired by the classic movies of the silent era, Metropolis and Modern Times. The title comes from the song 'Where have all the flowers gone?'. The original song uses disappearing flowers to symbolise disappearing people in war. Here is a symbol of a piggy losing his mind in the city. </p>
      <h6>5-7 THE BRIDGE OVER THE RIVER</h6>
      <p>A man on a bridge, separated from the love of his life. Wanting to be with her one last time, he decides to go and seek her in the hereafter.</p>
      <h6>5-8 AU REVOIR BALTHAZAR</h6>
      <p>A scarecrow, a storm, a broken leg. The resonant sound of a sea shell. Leaving forever.</p>
      <hr/>
      <h5>6. COLLEGE 60' - <a href="/tickets.html">Buy Tickets</a></h5>
      <p>Selection of short films created by the Sussex Downs college.</p>
      <h6>6-1 SEASIDE</p>
      <h6>6-2 DEAR ANNIE</h6>
      <h6>6-3 THE BLACK DOG</h6>
      <h6>6-4 THE PASSING OF NOW</h6>
      <h6>6-5 DEATH COMES TO TOWN</h6>
      <h6>6-6 MY FILM JOURNEY</h6>
      <hr/>
      <h5>7. 24H COMPETITION 60' - <a href="/tickets.html">Buy Tickets</a></h5>
      <p>Screening of films from the Make it Short 24 hour competition, which preceeded the festival.</p>
    </div>
  </div>
  <div class="col-md-4 sidebar sidebar--right">&nbsp;</div>
  </div>
</div>

{{/content}}
{{/extend}}
