{{#extend "default"}}
{{#content "main"}}

<div class="row">
  <div class="col-md-2">&nbsp;</div>
  <div class="col-md-8">
    <div class="subtitle">
      <p>Tickets</p>
    </div>
    <div class="content">
      <div class="tickets--info">
        <p>Please click on "Buy Now" to see options for discounts</p>
        <p>Tickets also available on the door</p>
      </div>
      <table class="tickets--tbl">
        <tr>
          <td>
            <div class="tickets--days">Saturday<br>&amp;<br>Sunday</div>
            <div class="tickets--dates">14 &amp; 15</div>
            <div class="tickets--monthyear">October 2017</div>
          </td>
          <td>
            <div class="pass--type">Weekend pass</div>
            <div class="pass--description">Unlimited screening pass</div>
            <div class="pass--timings">
              <span>Saturday: doors open at 3pm. Showings begin at 3:30pm and end at 10pm.</span><br>
              <span>Sunday: doors open at 9pm. Showings begin at 9:30pm and end at 8:30pm.</span>
            </div>
          </td>
          <td><div class="ecwid ecwid-SingleProduct-v2 ecwid-SingleProduct-v2-bordered ecwid-SingleProduct-v2-centered ecwid-Product ecwid-Product-91041325" itemscope itemtype="http://schema.org/Product" data-single-product-id="91041325"><div itemprop="image"></div><div class="ecwid-title" itemprop="name" content="Weekend pass"></div><div itemtype="http://schema.org/Offer" itemscope itemprop="offers"><div class="ecwid-productBrowser-price ecwid-price" itemprop="price" content="30" data-spw-price-location="button"><div itemprop="priceCurrency" content="GBP"></div></div></div><div customprop="addtobag"></div></div><script type="text/javascript" src="https://app.ecwid.com/script.js?12006839&data_platform=singleproduct_v2" charset="utf-8"></script><script type="text/javascript">xProduct()</script></td>
        </tr>
        <tr>
          <td>
            <div class="tickets--days">Saturday</div>
            <div class="tickets--dates">14</div>
            <div class="tickets--monthyear">October 2017</div>
          </td>
          <td>
            <div class="pass--type">Saturday pass</div>
            <div class="pass--description">International selection of short films</div>
            <div class="pass--timings">
              <span>Doors open at 3pm. Showings begin at 3:30pm and end at 10pm.</span><br>
            </div>
          </td>
          <td><div class="ecwid ecwid-SingleProduct-v2 ecwid-SingleProduct-v2-bordered ecwid-SingleProduct-v2-centered ecwid-Product ecwid-Product-91100550" itemscope itemtype="http://schema.org/Product" data-single-product-id="91100550"><div itemprop="image"></div><div class="ecwid-title" itemprop="name" content="Saturday pass"></div><div itemtype="http://schema.org/Offer" itemscope itemprop="offers"><div class="ecwid-productBrowser-price ecwid-price" itemprop="price" content="16" data-spw-price-location="button"><div itemprop="priceCurrency" content="GBP"></div></div></div><div customprop="addtobag"></div></div><script type="text/javascript" src="https://app.ecwid.com/script.js?12006839&data_platform=singleproduct_v2" charset="utf-8"></script><script type="text/javascript">xProduct()</script></td>
        </tr><tr>
          <td>
            <div class="tickets--days">Saturday Afternoon</div>
            <div class="tickets--dates">14</div>
            <div class="tickets--monthyear">October 2017</div>
          </td>
          <td>
            <div class="pass--type">Saturday afternoon pass</div>
            <div class="pass--description">International selection of short films, first two sessions</div>
            <div class="pass--timings">
              <span>Doors open at 3pm. Showings begin at 3:30pm and end at 5.30pm.</span><br>
            </div>
          </td>
          <td><div class="ecwid ecwid-SingleProduct-v2 ecwid-SingleProduct-v2-bordered ecwid-SingleProduct-v2-centered ecwid-Product ecwid-Product-93132801" itemscope itemtype="http://schema.org/Product" data-single-product-id="93132801"><div itemprop="image"></div><div class="ecwid-title" itemprop="name" content="Saturday Afternoon"></div><div itemtype="http://schema.org/Offer" itemscope itemprop="offers"><div class="ecwid-productBrowser-price ecwid-price" itemprop="price" content="9.5" data-spw-price-location="button"><div itemprop="priceCurrency" content="GBP"></div></div></div><div customprop="addtobag"></div></div><script type="text/javascript" src="https://app.ecwid.com/script.js?12006839&data_platform=singleproduct_v2" charset="utf-8"></script><script type="text/javascript">xProduct()</script></td>
        </tr><tr>
          <td>
            <div class="tickets--days">Saturday Evening</div>
            <div class="tickets--dates">14</div>
            <div class="tickets--monthyear">October 2017</div>
          </td>
          <td>
            <div class="pass--type">Saturday evening pass</div>
            <div class="pass--description">International selection of short films, last two sessions</div>
            <div class="pass--timings">
              <span>Showings begin at 8pm and end at 9.30pm.</span><br>
            </div>
          </td>
          <td><div class="ecwid ecwid-SingleProduct-v2 ecwid-SingleProduct-v2-bordered ecwid-SingleProduct-v2-centered ecwid-Product ecwid-Product-93182580" itemscope itemtype="http://schema.org/Product" data-single-product-id="93182580"><div itemprop="image"></div><div class="ecwid-title" itemprop="name" content="Saturday evening"></div><div itemtype="http://schema.org/Offer" itemscope itemprop="offers"><div class="ecwid-productBrowser-price ecwid-price" itemprop="price" content="7.5" data-spw-price-location="button"><div itemprop="priceCurrency" content="GBP"></div></div></div><div customprop="addtobag"></div></div><script type="text/javascript" src="https://app.ecwid.com/script.js?12006839&data_platform=singleproduct_v2" charset="utf-8"></script><script type="text/javascript">xProduct()</script></td>
        </tr>
        <tr>
          <td>
            <div class="tickets--days">Sunday morning</div>
            <div class="tickets--dates">15</div>
            <div class="tickets--monthyear">October 2017</div>
          </td>
          <td>
            <div class="pass--type">Sunday morning pass</div>
            <div class="pass--description">Selection of local childrens' films and animations, international animations for children and adults</div>
            <div class="pass--timings">
              <span>Doors open at 9am. Showings begin at 9.30am and end at 3pm.</span><br>
            </div>
          </td>
          <td><div class="ecwid ecwid-SingleProduct-v2 ecwid-SingleProduct-v2-bordered ecwid-SingleProduct-v2-centered ecwid-Product ecwid-Product-91100596" itemscope itemtype="http://schema.org/Product" data-single-product-id="91100596"><div itemprop="image"></div><div class="ecwid-title" itemprop="name" content="Sunday morning pass"></div><div itemtype="http://schema.org/Offer" itemscope itemprop="offers"><div class="ecwid-productBrowser-price ecwid-price" itemprop="price" content="12" data-spw-price-location="button"><div itemprop="priceCurrency" content="GBP"></div></div></div><div customprop="addtobag"></div></div><script type="text/javascript" src="https://app.ecwid.com/script.js?12006839&data_platform=singleproduct_v2" charset="utf-8"></script><script type="text/javascript">xProduct()</script></td>
        </tr>
        <tr>
          <td>
            <div class="tickets--days">Sunday evening</div>
            <div class="tickets--dates">15</div>
            <div class="tickets--monthyear">October 2017</div>
          </td>
          <td>
            <div class="pass--type">Sunday evening pass</div>
            <div class="pass--description">Selection of local films, submissions from 24 hour competition, international animation for adults</div>
            <div class="pass--timings">
              <span>Doors open at 4pm. Showings begin at 4:30pm and end at 8:30pm.</span><br>
            </div>
          </td>
          <td><div class="ecwid ecwid-SingleProduct-v2 ecwid-SingleProduct-v2-bordered ecwid-SingleProduct-v2-centered ecwid-Product ecwid-Product-91100634" itemscope itemtype="http://schema.org/Product" data-single-product-id="91100634"><div itemprop="image"></div><div class="ecwid-title" itemprop="name" content="Sunday evening pass"></div><div itemtype="http://schema.org/Offer" itemscope itemprop="offers"><div class="ecwid-productBrowser-price ecwid-price" itemprop="price" content="7" data-spw-price-location="button"><div itemprop="priceCurrency" content="GBP"></div></div></div><div customprop="addtobag"></div></div><script type="text/javascript" src="https://app.ecwid.com/script.js?12006839&data_platform=singleproduct_v2" charset="utf-8"></script><script type="text/javascript">xProduct()</script></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col-md-2">&nbsp;</div>
  </div>
</div>

{{/content}}
{{/extend}}
