// Variables
@import "variables";
@import "../node_modules/bootstrap/scss/variables";

// Mixins / Normalize
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/normalize";
@import "../node_modules/bootstrap/scss/print";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/buttons";

// Structure
@import "layout/global";
@import "layout/container";
@import "layout/header";
@import "layout/content";
@import "layout/footer";

// Components
@import "components/buttons";

// Pages
@import "pages/home";
@import "pages/filmmakers";
@import "pages/programme_and_tickets";
@import "pages/about";

